{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container bg-image col-md-12 align-items-center justify-content-center ">
    <div class="row">
        <div class="col-md-5 offset-md-5 text-white d-flex-center">
            <h3>{% trans "Sign In" %}</h3>
           
    </div>
    <div class="row">
        <div class="col-md-12 mt-1 offset-md-5 text-white ">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right text-white" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
